<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Popular Blogs</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
             <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%=blog.image %>">
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <div class="meta">
                            <!--toDateString() will turn date into nice readable string-->
                            <span><%=blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body.substring(0, 100) %>...</p>
                            <!--.substring will limit char count from (0 to , 100)-->
                            <!--Weird that it's not camelCase, but it's NOTTT-->
                        </div>
                        <div class="extra">
                            <a class="ui floated orange button" href="/blogs/<%= blog._id %>">
                                See More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }); %>    
        </div>
    </div>
</div>

<% include partials/footer %>